<!doctype html>
<html lang="en">
<head>
    <title>Join Jake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="/Resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <LINK href="/Resources/stylesheets/joinjake.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row well">
            <div class="col-xs-5 col-sm-4">
                <a href="http://www.join-jake.com" class="btn btn-lg btn-success">Join Jake</a>
            </div>
            <div class="col-xs-7 col-sm-4 pull-right">
                <div class="pull-right"><button id="clubSearch" data-bind="click: $root.Search('night_club')" class="btn btn-lg btn-info">Clubs</button>
                <button id="barSearch" data-bind="click: $root.Search('bar')" class="btn btn-lg btn-info">Bars</button></div>              
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 well">
                <div id="map_canvas" style="width: 100%; height: 500px"></div>
            </div>
        </div>
        <div class="modal fade" id="myModalPlace" data-bind="with: Place" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 data-bind="text: Name"></h2>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#jjcontact" data-toggle="tab">Contact</a></li>
                            <li><a href="#jjevents" data-toggle="tab">Events</a></li>
                            <li><a href="#jjreviews" data-toggle="tab">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="jjcontact">
                                <div id="placewebsite" data-bind="html: Website"></div>
                                <h4>Address</h4>
                                <address data-bind="text: Address"></address>
                                <h4>Phone Number</h4>
                                <div id="phonenumber" data-bind="text: Number"></div>
                                <div id="openinghours">
                                    <h4>Opening Hours</h4>
                                    <table>
                                        <tr>
                                            <td>Sunday</td>
                                            <td class="sunday"></td>
                                        </tr>
                                        <tr>
                                            <td>Monday</td>
                                            <td class="monday"></td>
                                        </tr>
                                        <tr>
                                            <td>Tuesday</td>
                                            <td class="tuesday"></td>
                                        </tr>
                                        <tr>
                                            <td>Wednesday</td>
                                            <td class="wednesday"></td>
                                        </tr>
                                        <tr>
                                            <td>Thursday</td>
                                            <td class="thursday"></td>
                                        </tr>
                                        <tr>
                                            <td>Friday</td>
                                            <td class="friday"></td>
                                        </tr>
                                        <tr>
                                            <td>Saturday</td>
                                            <td class="saturday"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="jjevents">
                                <div class="alert alert-warning">I'm sorry I didn't build this yet.</div>
                            </div>

                            <div class="tab-pane" id="jjreviews">
                                <div data-bind="visible: $root.PlaceReviews().length == 0">
                                    <div class="alert alert-warning">
                                        Oh dear. There are no reviews for this place!
                                    </div>
                                </div>
                                <div data-bind="foreach: $root.PlaceReviews">
                                    <div class="well">
                                        <strong>Rating </strong>
                                        <span data-bind="text: Rating"></span>     <p></p>
                                        <strong>Review </strong>
                                        <span data-bind="text: Text"></span>         <p></p>
                                        <strong>User Name </strong>
                                        <span data-bind="text: Author">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpJFYWF8unmYnxwZbS4OEfSW7cKHEK-9M&sensor=true&libraries=places">
</script>
<script src="/Resources/javascripts/googleanalytics.js"></script>
<script src="/Resources/javascripts/jquery-1.10.2.min.js"></script>
<script src="/Resources/javascripts/knockout-3.0.0.js"></script>
<script src="/Resources/javascripts/infobox.js"></script>
<script src="/Resources/javascripts/model/placemodel.js"></script>
<script src="/Resources/javascripts/model/placereview.js"></script>
<script src="/Resources/javascripts/pagemodel/knockoutwelcome.js"></script>
<script src="/Resources/bootstrap/js/bootstrap.min.js"></script>


</html>




